// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #282c37;
$classic-primary-color: #bdacbb;
$classic-secondary-color: #e0e0d8;
$classic-highlight-color: #99da5c;

// Differences
$success-green: #428556;

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #afd1b2;
$ui-primary-color: #c3cec3;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: #58991c;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #5e5066;
$action-button-color: #495542;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #7b807b;

//Newly added colors
$account-background-color: $white !default;

//Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
